* {
  box-sizing: border-box;
}

.header {
  padding: 60px;
  text-align: center;
  background: #000000;
  color: #c9e20c;
  font-size: 30px;
}

.p {
  background-image: url('mike-tomlin.jpeg');
}

.container {
  width: 100%;
  height: 100vh;
}

.leftpane {
  width: 33.33%;
  height: 100vh;
  background-color: rosybrown;
}

.middlepane {
  width: 33.33%;
  height: 100vh;
  background-color: royalblue;
}

.rightpane {
  width: 33.33%;
  height: 100vh;
  background-color: yellow;
}

body {
  margin: 0!important;
}

.d-flex {
  display: flex;
}