* {
  box-sizing: border-box;
}

html {
  background-color: #8d8d8d;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.header {
  padding: 1px;
  text-align: center;
  background: #000000;
  color: #c9e20c;
  font-size: 30px;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  height: 150vh;
  align-items: center;
  justify-content: space-evenly;
}

.pane {
  width: 33.3333%;
  height: 150vh;
  background-color: #8d8d8d;
  border: 2px solid;
  align-items: center;
  text-align: center;
}

body {
  margin: 0!important;
}

.box {
  display: flex;
  align-items: center;
  text-align: center;
}

text {
  display: flex;
  align-items: center;
  text-align: center;
}

.img {
  width: 400px;
  height: 400px;
  align-items: center;
  border: 1px solid;
}