* {
  box-sizing: border-box;
}

html {
  background-color: #8d8d8d;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.header {
  padding: 1px;
  text-align: center;
  background: #013369;
  color: #ffffff;
  font-size: 30px;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  height: 150vh;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
}

.paneleft {
  width: 50%;
  height: 150vh;
  background-color: #ffffff;
  border: 3px solid;
  border-right: 2px solid;
  align-items: center;
  text-align: center;
  border-color: #d50a0a;
}

.paneright {
  width: 50%;
  height: 150vh;
  background-color: #ffffff;
  border: 3px solid;
  align-items: center;
  text-align: center;
  border-left: 2px solid;
  border-color: #d50a0a;
}

body {
  margin: 0!important;
}

/*.box {
  display: flex;
  align-items: center;
  text-align: center;
}*/

.subhead {
  padding: 30px;
  font-size: 24px;
  text-align: center;
}

.text {
  font-size: 18px;
  text-align: center;
}

.img {
  width: 400px;
  height: 400px;
  align-items: center;
  border: 1px solid;
}